<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">

	<!-- Logging properties -->

	<Properties>
		<Property name="Context.Name">bootstrap</Property>
		<Property name="Log.Dir">../logs</Property>
		<Property name="Log.File">${Log.Dir}/${Context.Name}.log</Property>
		<Property name="Log.Pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{45} : %msg%n</Property>
	</Properties>

	<!-- Appender configuration -->

	<Appenders>

		<!-- Console appender -->

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${Log.Pattern}"/>
		</Console>

		<!-- Simple file appender -->

		<!--<File name="SimpleFile" fileName="${Log.File}">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{45}: %msg%n</Pattern>
			</PatternLayout>
		</File>-->

		<!-- Rolling file appender -->

		<RollingFile name="File" fileName="${Log.File}" filePattern="${Log.File}.%d{yyyy-MM-dd}%i.gz">
			<PatternLayout>
				<Pattern>${Log.Pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>

	</Appenders>

	<!-- Logger configuration -->

	<Loggers>
		<AsyncRoot level="INFO">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncRoot>

		<AsyncLogger name="com.mchange" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>

		<AsyncLogger name="org.hibernate.engine.internal" level="ERROR" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>

	</Loggers>


</Configuration>
